<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="/ui_class/proj8/css/style.css">
    <link rel="stylesheet" href="/ui_class/proj8/node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>

</head>
<body>
    <h1 class="hi">hello</h1>

<div id="person">
    space for person object to load;
</div>
<button id="showTable" type="button">Load</button>
<script type="text/javascript" src="/ui_class/proj8/js/person.js"></script>
</body>
</html>