<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="/ui_class/proj8/css/style.css">
    <link rel="stylesheet" href="/ui_class/proj8/node_modules/bootstrap/dist/css/bootstrap.css">

</head>
<body>
    <h1 class="hi">hello</h1>

        </table>
<div id="person">
    space for person object to load;
</div>
<button id="submit" onclick="loadperson()">Load</button>
<script type="text/javascript" src="/ui_class/proj8/js/person.js"></script>
</body>
</html>