<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unit Test</title>

</head>
<body ng-app="test">

<div ng-controller="testCtrl">

    <h1>{{title}}</h1>
    <test-directive></test-directive>
    <!--<div class='calc'>-->
        <!--Enter First Number:-->
        <!--<span>-->
    <!--<input type="text" ng-model="firstNum">-->
    <!--</span>-->
        <!--<span>-->
        <!--Enter Second Name :-->
        <!--<input type="text" ng-model="secondNum">-->
    <!--</span>-->
        <!--<button ng-click="submit()">Calculate</button>-->
        <!--The Sun us {{add}}<br>-->
        <!--The Product is {{pro}}-->
    <!--</div>-->
    <!--<test-directive></test-directive>-->
</div>

<hr>

<script type="text/javascript" src="/node_modules/angular/angular.js"></script>
<script type="text/javascript" src="/js/test.js"></script>
<script type="text/javascript" src="/js/controller/testCtrl.js"></script>
<script type="text/javascript" src="/js/directives/testDirective.js"></script>
<script type="text/javascript" src="/js/services/testServices.js"></script>
</body>
</html>